Checks: >-
    -*
    ,bugprone-*
    ,modernize-*
    ,readability-*
    ,cppcoreguidelines-*
    ,bugprone-*
    ,clang-analyzer-*
    ,-modernize-use-trailing-return-type
    ,-readability-braces-around-statements
    ,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers
    ,-clang-analyzer-optin.core.EnumCastOutOfRange
    ,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
    ,-readability-else-after-return

# Removal reasons:
# -modernize-use-trailing-return-type: Code looks alien
# -readability-braces-around-statements: Align with kernel guidelines
# -cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers: Complains on bitwise assignments
# -clang-analyzer-optin.core.EnumCastOutOfRange: Not compatible with enum __class__ flags
# -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling: secure _s versions of functions not readily available
# -readability-else-after-return: commonly used pattern with for example argc parsing

CheckOptions:
    - key: readability-identifier-length.IgnoredVariableNames
      value: 'r|fd|it'
    - key: readability-identifier-length.IgnoredParameterNames
      value: 'fd'
FormatStyle: 'file'
